.footer_caja{
	background-color: black;
	padding: 1%;
	color: white;
}
.footer_caja img{
	width: 57%;
    margin-top: -10%;
    margin-left: 18%;
}
.footer_caja a{
	color: white;
	font-size: 20px;
}
.footer_caja .lista{
	width: 1%;
}
.social{
	font-size: 30px;
	padding-top: 2%;
}

@media only screen and (max-width: 780px) {
.footer_caja img{
width: 60%;
margin-top: 0%;
margin-left: 25%;
}
}
 